<!DOCTYPE html>
<head>
  <title>TimeZone</title>
</head>
<body>
  <div style="text-align: center">
    <h1>US TimeZone Display!</h1>
    <button (click)="zone('PST')" [ngClass]="{current: timezone == 'PST'}">PST</button>
    <button (click)="zone('MST')" [ngClass]="{current: timezone == 'MST'}">MST</button>
    <button (click)="zone('CST')" [ngClass]="{current: timezone == 'CST'}">CST</button>
    <button (click)="zone('EST')" [ngClass]="{current: timezone == 'EST'}">EST</button>
    <button (click)="zone('')">Clear</button>
    <h3>{{time | date:'EEE. MMM d, y h:mm:ss a'}}</h3>
  </div>
</body>
